<div class="container">
    <br><br><br>
    <form [formGroup]="userGroup">
        <div class="form-group">
            <label for="Username">Username</label>
            <input type="text" class="form-control" placeholder="Enter username" formControlName="username">
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" class="form-control" placeholder="Password" formControlName="password">
        </div>
        <button type="submit" class="btn btn-primary" (click)="authenticateUser(userGroup)">Sign-In</button>
    </form>
    <p class="text-danger" *ngIf="!isAuth">{{message}}</p>
    <br>
    <a routerLink="/registration" class="text-success">Have no account? Click here!</a>   
</div>