<nav class="navbar navbar-dark bg-dark" id="nav-bar">
  <a class="navbar-brand" routerLink="/home">Simple Trade Platform</a>
  <!-- <div>
    <form class="form-inline justify-content-center" style="text-align: center;">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" 
            aria-label="Search" name="text">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div> -->
  <div *ngIf="isLogged; else elseBlock">
    <div class="dropdown show">
      <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{username}}
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="drop-down-menu">
        <a class="dropdown-item" routerLink="/myposts">View My Posts</a>
        <a class="dropdown-item" routerLink="/upsert">Create Post</a>
        <a class="dropdown-item" routerLink="/changePass">Change Password</a>
        <a class="dropdown-item" routerLink="/login" (click)="doLogout()">Logout</a>
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
    <div>
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Log in</a>
        </li>
      </ul>
    </div>
  </ng-template>
</nav>
