<div class="container">
    <br><br>
    <div class="row" style="justify-content: center;">
        <p class="h2">User Registration</p>
    </div>
    <br>
    <form [formGroup] = "userGroup">
        <div class="form-group row">
            <label for="Username" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Enter Username" formControlName="userName">
            </div>
        </div>
        <div class="form-group row">
            <label for="Email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" placeholder="email@example.com" formControlName="email">
            </div>
        </div>
        <div class="form-group row">
            <label for="Password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" placeholder="Password" formControlName="passwordHashed">
            </div>
        </div>
        <div class="form-group row">
            <label for="Phone" class="col-sm-2 col-form-label">Phone</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Enter Phone Number" formControlName="phoneNumber">
            </div>
        </div>
        <br>
        <div class="form-group row" style="justify-content: center;">
            <button type="submit" class="btn btn-primary btn-lg" (click) = "submitUser(userGroup)">Submit</button>
        </div>
    </form>
</div>