<div class="container">
  <br>
  <div class="row" style="justify-content: center;">
    <p class="h1">
      <span *ngIf="!userReturned;else content">Create Item Post</span>
      <ng-template #content>Update</ng-template>
    </p>
  </div>
  <div class="row" style="justify-content: center;">
    <img [src]="fileUrl" class="img-fluid" id="uploadFileDisplay" *ngIf="fileExist"
      alt="A file rather than an image is uploaded instead. To preview please upload an image.">
    <div id="no-file-box" *ngIf="!fileExist">Uploaded Image Preview</div>
  </div>
  <div class="row" style="justify-content: center;">
    <form>
      <div class="form-group" style="text-align: center;">
        <input type="file" class="form-control-file" id="exampleFormControlFile1" (change)="chooseImage($event)">
      </div>
      <div class="form-group row">
        <label for="Title" class="col-sm-3 col-form-label">Title</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Title" [(ngModel)]="postTitle" name="postTitle">
        </div>
      </div>
      <div class="form-group row">
        <label for="Price" class="col-sm-3 col-form-label">Price</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" placeholder="$ Price" [(ngModel)]="price" name="price">
        </div>
      </div>
      <div class="form-group row">
        <label for="Description" class="col-sm-3 col-form-label">Description</label>
        <div class="col-sm-9">
          <textarea name="decription" class="form-control" cols="30" rows="5" placeholder="About this item"
            [(ngModel)]="postDescription"></textarea>
        </div>
      </div>
      <div class="form-group" style="text-align: center;">
        <button type="submit" class="btn btn-primary btn-lg" (click)="submitPost()" [routerLink]="['/home']"
          routerLinkActive="router-link-active" [disabled]="!fileExist">Submit</button>
      </div>
    </form>
  </div>
</div>
