#uploadFileDisplay {
  width: 600px;
  height: 300px;
  border: 2px solid gray;
  border-radius: 5px;
  margin-bottom: 10px;
}

#no-file-box {
  width: 600px;
  height: 300px;
  border: 2px solid gray;
  border-radius: 5px;
  font-weight: bold;
  font-size: 24px;
  color: gray;
  text-align: center;
  line-height: 300px;
  margin-bottom: 10px;
}
