<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 gedf-main">
            <br>
            <h3> Hello {{user.userName}}, below is a list of the posts you created</h3>
            <br>
            <div *ngFor="let mypost of postList">
                <app-post-editable [post]="mypost" ></app-post-editable>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>