<div class="card gedf-card" id="card-outer">
  <div class="card-body">
    <h5 class="card-title">
      <a [routerLink]="['/detail', post.postId]">
        {{ post.postTitle }}
      </a>
    </h5>
    <div id="imageContainer">
      <a [routerLink]="['/detail', post.postId]">
        <img src="{{post.imageURL}}" class="card-img-bottom" alt="Item Image">
      </a>
    </div>
    <p class="card-text"><b>CDN$: {{post.price}}</b></p>
    <p class="card-text">{{ post.postDescription }}</p>
    <p class="card-text"><small class="text-muted">Last update: {{post.dateCreated}}</small></p>
    <p class="card-text">uploaded by: {{post.userHolder.userName}}</p>
  </div>
</div>
<br>
