<div *ngIf="available" class="card gedf-card" id="card-outer">
  <div class="card-body">
    <h5 class="card-title">
      <a [routerLink]="['/detail', post.postId]">
        {{ post.postTitle }}
      </a>
    </h5>
    <!-- <a  [routerLink]= "['/detail', post.postId]" > </a> -->
    <div id="imageContainer">
      <a [routerLink]="['/detail', post.postId]">
        <img src="{{post.imageURL}}" class="card-img-bottom" alt="Item Image">
      </a>
    </div>
    <p class="card-text"><b>CDN$: {{post.price}}</b></p>
    <p class="card-text">{{ post.postDescription }}</p>
    <p class="card-text"><small class="text-muted">Last update: {{post.dateCreated}}</small></p>
    <p class="card-text">uploaded by: {{post.userHolder.userName}}</p>
    <button (click)="deletePost()" type="button" class="btn btn-danger" style="margin-right: 20px;">Delete Post</button>
    <button (click)="editPost()" type="button" class="btn btn-warning">Edit this Post</button>
  </div>
</div>
<br>
