<div class="container">
    <br><br>
    <div class="row" style="justify-content: center;">
        <p class="h2">Change Password</p>
    </div>
    <br>
    <form>
        <div class="form-group row">
            <label for="Password" class="col-sm-2 col-form-label">New Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" placeholder="Enter New Password" (keyup)="onKey($event)">
            </div>
        </div>
        <br>
        <div class="form-group row" style="justify-content: center;">
            <button type="submit" class="btn btn-primary btn-lg" (click) = "submitPass()">Submit</button>
        </div>
    </form>
</div>

