* {
    list-style: none;
}

#spacespan {
    display: inline-block;
    width: 150px;
}

.spacespan1 {
    display: inline-block;
    width: 20px;
}

#commentContainer {
    width: 80%;
    position: relative;
    left: 10%;
    margin-top: 50px;
}

#commentContainer .commentItem {
    margin-bottom: 10px;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

#textcontent {
    width: 70%;
    height: 100px;
    position: relative;
    left: 17%;
    resize: none;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 15px;
    outline: none;
    border-color: lightgray;
    border-radius: 5px;
    margin-bottom: 20px;
}

#textcontent:focus {
    border-width: 2px;
}

#submitcomment {
    position: relative;
    left: 52%;
    transform: translateX(-50%);
}

.no-comments {
    font-size: 30px;
    color: lightgray;
}

.contact-seller {
    cursor: pointer;
}