<div class="container">
  <br>
  <div class="row" style="justify-content: center;">
    <p class="h5">
      <span>Last Update: {{dateCreated}}</span>
      <span id="spacespan"></span>
      <span>Visits: {{numberOfVisits}}</span>
    </p>
  </div>
  <div class="row" style="justify-content: center;">
    <div class="card" style="width: 40rem;">
      <img class="card-img-top" [src]="imageUrl" alt="Item Image">
      <div class="card-body" style="text-align: center;">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{description}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p class="mb-0">Price($):<span class="spacespan1"></span>{{price}}</p>
        </li>
        <li class="list-group-item">
          <p class="mb-0">Email:<span class="spacespan1"></span>{{email}}</p>
        </li>
        <li class="list-group-item">
          <p class="mb-0">Phone:<span class="spacespan1"></span>{{phone}}</p>
        </li>
      </ul>
      <div class="card-body" style="text-align: center;">
        <a class="card-link contact-seller" (click) = "sendEmail()">Contact Seller</a>
        <span id="spacespan"></span>
        <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="card-link">Return To Main Page</a>
      </div>
    </div>
  </div>
  <hr>
  <ul id="commentContainer">
    <li class="commentItem" *ngFor="let c of comments">
      <div class="card">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>{{c.userHolder.userName}}: {{c.text}}</p>
            <footer class="blockquote-footer">Commented at: {{c.dateCreated}}</footer>
          </blockquote>
        </div>
      </div>
    </li>
    <li class="no-comments" *ngIf="displayNoCommentText">No comments yet, you can start making the first comment</li>
  </ul>
  <hr>
  <div id="addNewCommentContainer">
    <textarea id="textcontent" [(ngModel)]="textcontent" placeholder="enter a comment"></textarea>
    <br>
    <button type="button" class="btn btn-secondary" id="submitcomment" (click)="createComment()">Submit Comment</button>
  </div>
  <hr>
</div>
