body {
  background-color: #eeeeee;
}

.h7 {
  font-size: 0.8rem;
}

.gedf-wrapper {
  margin-top: 0.97rem;
}

@media (min-width: 992px) {
  .gedf-main {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .gedf-card {
    margin-bottom: 2.77rem;
  }
}

#searchbar {
  width: 300px;
  border-radius: 5px;
}

#searchbar:hover {
  background-color: rgba(175, 175, 175) !important;
}

#searchbar-box {
  position: sticky;
  top: 1px;
  left: 50%;
  z-index: 20;
  width: 300px;
  transform: translate(-50%);
}

.search-icon {
  margin-right: 20px;
}

.search-input {
  width: 200px;
}
