<div class="container-fluid gedf-wrapper">
    <div class="row" style="justify-content: center;" id="searchbar-box">
        <nav class="navbar navbar-light" style="background-color: #D5D8DC;" id="searchbar">
            <form class="form-inline" style="text-align: center;">
                <i class="fa fa-search search-icon"></i>
                <input class="form-control mr-lg-2 search-input" type="text" placeholder="Keyword Search" aria-label="Search"
                    [value]="searchText" (input)="searchText=getValue($event.target)" style="margin-left: .5rem;">
            </form>
        </nav>
    </div>
    <div class="row"><br></div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 gedf-main">
            <div *ngFor="let mypost of postList | filter:searchText">
                <app-post [post]="mypost"></app-post>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>